<!-- 广告模块 -->
  <div id="asidepart">
      <aside class="clearfix">
        <div class="sponsor">
            <p class="asidetitle">广告</p>
            <a target="_blank" href="{{ site.baseurl }}/"><img src="/res/21.pic.jpg" width="235px" height="200px"></a>
        </div>

        <div class="categorieslist">
          <p class="asidetitle">分类</p>
          <ul>
            <li><a href="{{ site.baseurl }}/" title="books summary">技术分享</a></li>
            <li><a href="{{ site.baseurl }}/" title="iOS">闲暇扯蛋</a></li>
          </ul> 
        </div>
      </aside> 

</div>